
#topo{
text-align: center;
color: red;
background-color: blue;
background: linear-gradient(blue,gray);
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: small-caps;
font-weight: lighter;
}
#menu{
    background-color: rgb(209, 209, 209);
}
.destaques , .produtos, .sobre, .contatos{
    background-color: gray;
}
#rodape{
    background-color:rgb(87, 87, 87);

} 

#rodape p{
    font-weight:900;
    font-size:50px;
    color:white;
    text-decoration: underline;
}
a{
    text-decoration: none;
}
a:visited{
color: antiquewhite;
}
a:hover{
    background-color: yellow;
    color: black;
    font-size: 30px;
    margin: 5px;
    border: solid 2px gray;
}
h1,h2{
    text-align: center;
    color: red;
}
#topo:hover{
    display:none;
}