
#topo{
    background-color:blue;
    background: linear-gradient(blue;gray);
}
#menu{
    background-color: blueviolet;
}
.destaques , .produtos, .sobre, .contatos{
    background-color: gray;
}
#rodape{
    background-color:coral;
}
